name: Publish
on:
  push:
    paths:
      - "packages/**"
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2

      - name: Run tests
        run: deno task test

  publish:
    runs-on: ubuntu-latest
    needs: build-and-test

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Publish package
        working-directory: packages/
        run: npx jsr publish
